<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <script src="./assets/js/home.js" defer></script>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <main id="home">
        {% render 'partials/header.liquid' %}
        <div class="sections_container_outer main_grid">
            <div></div>
            <div class="sections_contianer">
                <h2>Semester 1</h2>
                {% for i in (0.. highestSprintSoFar) %}
                    {% if files["Terms"][0]["Sprints"][i] %}
                        {% assign SprintNr =  files["Terms"][0]["Sprints"][i]["Files"][0].sprint %}
                        {% assign SprintName =  files["Terms"][0]["Sprints"][i]["SprintTitle"] %}
                        <h3>Semester 1 - Sprint {{SprintNr}} [{{SprintName}}]</h2>
                        {% for file in files["Terms"][0]["Sprints"][i]["Files"] %}
                            <a href="/journal/{{file.fileName | slice: 0,-3}}">{{file.date}} - {{file.Title | replace: "-", " "}}</a>
                            <br>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <h2>Semester 2</h2>
                {% for i in (0.. highestSprintSoFar) %}
                    {% if files["Terms"][1]["Sprints"][i] %}
                        {% assign SprintNr =  files["Terms"][1]["Sprints"][i]["Files"][0].sprint %}
                        {% assign SprintName =  files["Terms"][1]["Sprints"][i]["SprintTitle"] %}
                        <h3>Semester 2 - Sprint {{SprintNr}} [{{SprintName}}]</h2>
                        {% for file in files["Terms"][1]["Sprints"][i]["Files"] %}
                            <a href="/journal/{{file.fileName | slice: 0,-3}}">{{file.date}} - {{file.Title | replace: "-", " "}}</a>
                            <br>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <div></div>
    </main>
</body>

</html>