<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web - Semester 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/sprint-divider.css">
</head>

<body>
    <main class="semester_page">
        {% render 'partials/header.liquid' %}
        <div class="sections_container_outer main_grid">
            <div></div>
            <div class="sections_container">
                <section class="i_love_web_section note-section-container">
                    <div class="blocks-container">
                        <section class="blocks-group sticky-buttons">
                                
                            <div class="buttons">
                                <a href="#s1" class="button">Sprint 1</a>
                                <a href="#s2" class="button">Sprint 2</a>
                                <a href="#s3" class="button">Sprint 3</a>
                                <a href="#s4" class="button">Sprint 4</a>
                                <a href="#s5" class="button">Sprint 5</a>
                                <a href="#s6" class="button">Sprint 6</a>
                                <a href="#s7" class="button">Sprint 7</a>
                                <a href="#s8" class="button">Sprint 8</a>
                                <a href="#s9" class="button">Sprint 9</a>
                                <a href="#s10" class="button">Sprint 10</a>
                                <a href="#s11" class="button">Sprint 11</a>
                                <a href="#s12" class="button">Sprint 12</a>
                                <a href="#s13" class="button">Sprint 13</a>
                            </div>
                            
                        </section>
    
                            {% assign sortedBySprint = files | sort: "sprint" %}
                            {% assign sortedByTerm = sortedBySprint | sort: "term" %}
                            
                            {% assign currentTerm = 0 %}
                            {% assign currentSprint = 0 %}
                            {% assign tableOpen = false %}
                            
                            {% for filteredItem in sortedByTerm %}
                                {% if filteredItem.term != currentTerm %}
                                    {% assign currentTerm = filteredItem.term %}
                                    {% assign termName = terms[ currentTerm | minus: 1 ].title %}
                                {% endif %}
                            
                                {% if filteredItem.sprint != currentSprint %}
                                    {% if tableOpen %}
                                        </table>
                                        {% assign tableOpen = false %}
                                    {% endif %}

                                    {% assign currentSprint = filteredItem.sprint %}
                                    {% assign arraySprint =  currentSprint | minus: 1%}
                                    {% assign sprintName = sprints[ arraySprint].title %}
                                    <section class="blocks-group sprint-divider">
                                        <div class="anchor" id="s{{ currentSprint }}"></div>
                                        <h2>
                                            SPRINT {{ currentSprint }}
                                            <span>{{ sprintName }}</span>
                                        </h2>
                                    </section>
                                    <table class="table_notes">
                                        <thead>
                                            <tr>
                                                <th>Datum</th>
                                                <th>Onderwerp</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% assign tableOpen = true %}
                                {% endif %}
                            
                                <tr>
                                    <td>{{ filteredItem.date }}</td>
                                    <td><a href="/journal/{{ filteredItem.date }}">{{ filteredItem.frontMatter.Subject }}</a></td>
                                </tr>
                            {% endfor %}
                            
                            {% if tableOpen %}
                                </tbody>
                                </table> <!-- Close the last table -->
                            {% endif %}

                    </div>
                </section> <!--end of stuff-->


            </div>
            <div></div>
    </main>
    <script src="assets/js/script.js"></script>
</body>

</html>


